.flex{
  display: flex;
}
/* .nowrap{
  display: flex;
  wrap: nowrap;
} */
ion-header {
  padding-top: 16px;
  padding-left: 0px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
  border-top: none;
}

ion-toolbar {
  --background: primary;
}
/* removes the shadow below the header */
.header-md::after {
  height: 0px;
  border-style: solid 2px;
}

.user {
  background: linear-gradient(180deg, #f2edfd 0%, #eeedff 100%);
  float: right;
}
.chat_partner {
  background: #f1f1f3;
}
.request {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(129, 129, 129, 0.3);
}
.chat_partner_txn {
  background: linear-gradient(180deg, #f2f8fd 0%, #edfff9 100%);
}
.chatbubble {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 13px;
  max-width: 268px;

  /* background: linear-gradient(180deg, #f2edfd 0%, #eeedff 100%); */
  border-radius: 10px;
  clip-path: content-box;
}
.chat_timestamp {
  /* font-family: Inter; */
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #8b8b8b;
  margin-right: 4px;
}
.align_checkmark {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.checkmark_color {
  color: rgba(0, 0, 0, 0.4);
}

/* SendRequestDashModal styles */
.enter-dash {
  width: 132px;
  text-align: end;
  height: 34px;
  /* font-family: Inter; */
  font-style: normal;
  --placeholder-font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  --placeholder-color: #000000;
  flex: none;
  /* margin-top: 34px; */
  margin-bottom: 5px;
  margin-right: 6px;
  text-align: end;
}
.dash-label {
  height: 37px;
  width: 170px;
  /* font-family: Inter; */
  font-style: normal;
  /* --placeholder-font-weight: 600; */
  font-size: 28px;
  line-height: 34px;
  --placeholder-color: #000000;
  /* order: 1; */
  /* margin-top: 34px; */
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.enter-fiat {
  /* font-family: Inter; */
  width: 132px;
  margin: 0px 0px 0px auto;
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #a3a3a3;
  align-items: center;

  flex: none;
  text-align: end;
  margin-right: 6px;
}
.fiat-label {
  width: 170px;
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #a3a3a3;
  /* font-family: Inter; */
  display: flex;
  align-items: flex-start;
  order: 1;
  margin-bottom: 10px;
  /* margin-right: 35%; */
  /* text-align: flex-start; */
}
.convert {
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #a3a3a3;
}
.green {
  color: #34bba8;
}
.purple {
  color: #6c69fc;
}
